# Python virtual environment
.venv/

# Python cache files
__pycache__/
*.py[cod]

# Environment variables and secrets
.env
.env.*

# Editor files
.vscode/
.idea/

# Temporary files
*.tmp
*.bak
~$*

# Power BI temporary files
*.pbix.autosave